{#
/**
 * @file
 * Theme override for commerce cart form.
 */
#}
<form{{ attributes.addClass('commerce-cart-form') }}>

  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}

  <div class="flex flex-col lg:grid lg:grid-cols-3 gap-8">
    {# Cart Items Fieldset #}
    <div class="lg:col-span-2">
      <fieldset class="border-2 border-gray-200 rounded-lg p-4 lg:p-6 bg-gray-50">
        <legend class="text-base font-bold text-gray-900 px-3 bg-white border border-gray-200 rounded-md -ml-1">
          {{ 'Shopping cart'|t }}
        </legend>

        <div class="mt-4">
          {% if cart_output is defined %}
            {{ cart_output }}
          {% endif %}
        </div>
      </fieldset>
    </div>

    {# Order Summary #}
    <div class="lg:col-span-1 lg:row-span-2">
      <div class="lg:sticky lg:top-8">
        <fieldset class="border-2 border-gray-200 rounded-lg p-4 lg:p-6 bg-gray-50">
          <legend class="text-base font-bold text-gray-900 px-3 bg-white border border-gray-200 rounded-md -ml-1">
            {{ 'Order Summary'|t }}
          </legend>

          <div class="mt-4">
            {% if order_summary is defined %}
              {{ order_summary }}
            {% endif %}
          </div>
        </fieldset>
      </div>
    </div>

    {# Actions #}
    {% if element.actions is defined %}
      <div class="lg:col-span-2">
        <div class="cart-actions">
          {{ element.actions }}
        </div>
      </div>
    {% endif %}
  </div>

</form>
