{% set classes = [
  'ec-cart-popup-wrapper',
] %}

<div {{ attributes.addClass(classes) }}>

  <div class="ec-cart-title">
    {% if messages %}
      {% for item in messages %}
        <div class="messages messages--{{ item.type }}">
          {{ item.message }}
        </div>
      {% endfor %}
    {% else %}
      {{ 'The item %title has been added to your cart.'|t({'%title': product_variation_entity.title.value}) }}
    {% endif %}
  </div>

  {% if carts %}
    {% for cart in carts %}
      {% if cart.items %}
        <div class="ec-cart-items">
          {% for item in cart.items %}
            <div class="ec-cart-item">
              <div class="ec-cart-item-left">
                <h5>
                  {{ item.title }}
                </h5>
                <p>
                  {% if item.quantity %}
                    {{ 'Qty:'|t }} {{ item.quantity }}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </p>
              </div>
              <div class="ec-cart-item-right">
                <p class="text-blue-600">
                  {{ item.total_price|commerce_price_format }}
                </p>
                <p class="text-gray-500">
                  {{ item.unit_price|commerce_price_format }} {{ 'each'|t }}
                </p>
              </div>
            </div>
          {% endfor %}

          {% if cart.total %}
            <div class="ec-cart-total">
              <div class="flex justify-between items-center space-x-2">
                <span class="text-gray-900">
                  {{ 'Subtotal:'|t }}
                </span>
                <span class="text-blue-600">
                  {{ cart.total|commerce_price_format }}
                </span>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <div class="ec-cart-items">
      <p class="text-gray-600">
        {{ 'Your cart is empty.'|t }}
      </p>
    </div>
  {% endif %}

  <div class="ec-cart-actions">
    <a href="{{ cart_url }}"
       class="ec-cart-actions-view">
      {{ 'View Cart'|t }}
    </a>
    <button type="button"
      onclick="jQuery(this).closest('.ui-dialog-content').dialog('close');"
      class="ec-cart-actions-cancel">
      {{ 'Continue Shopping'|t }}
    </button>
  </div>
</div>
