{#
/**
 * @file
 * Theme implementation for Features stats simple paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'max-w-[85rem] py-10 lg:py-14 mx-auto',
] %}

<div {{ attributes.addClass(classes) }}>
  {{ content.contextual_links }}

  <div class="grid items-center lg:grid-cols-12 gap-6 lg:gap-12">
    <div class="lg:col-span-4">
      <div class="lg:pe-6 xl:pe-12">
        <p class="text-7xl font-bold leading-10 !text-blue-600">
          {{ content.field_value }} <span class="ms-1 inline-flex items-center gap-x-1 bg-gray-200 font-medium text-gray-900 text-xs leading-4 rounded-full py-0.5 px-2">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg>
            {{ content.field_label }}
          </span>
        </p>
        <div class="mt-2 sm:mt-3">
          {{ content.field_body }}
        </div>
      </div>
    </div>

    <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-start-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:">
      <div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
        {{ content.field_features_stats_smpl_items }}
      </div>
    </div>
  </div>
</div>
