{#
/**
 * @file
 * Theme implementation for Features list paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'text-start hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 p-4 md:p-5 rounded-xl transition duration-500 flex gap-x-6',
] %}

<a {{ attributes.addClass(classes) }}
  title="{{ paragraph.field_link.title ?: 'Read more' }}"
  href="{{ paragraph.field_link.uri }}"
>
  <div class="shrink-0 mt-2 size-6 md:size-7 text-gray-800">
    {{ content.field_image }}
  </div>
  <div class="grow">
    <div class="block text-lg font-semibold text-gray-800">{{ content.field_title }}</div>
    {{ content.field_body }}
  </div>
</a>
