{#
/**
 * @file
 * Theme override to display a product.
 */
#}
{%
  set classes = [
  'commerce-product',
  'product-view',
  'bg-white overflow-hidden',
]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

    {# Product Images #}
    <div class="product-images">
      {% if product_entity.field_images and not product_entity.field_images.isEmpty() %}
        <div class="mb-4">
          {{ product.field_images }}
        </div>
      {% else %}
        <div class="bg-gray-300 aspect-square rounded-lg flex items-center justify-center">
          <span class="text-gray-600 text-lg">No image available</span>
        </div>
      {% endif %}
    </div>

    {# Product Info #}
    <div class="product-info flex flex-col">

      {# Description #}
      {% if product.field_short_description|render %}
        <div class="product-description prose max-w-none mb-6 text-gray-600 leading-relaxed">
          {{ product.field_short_description }}
        </div>
      {% endif %}

      {# Price #}
      {% if product.variations|render %}
        <div class="product-price rounded-lg mb-6 p-6 bg-gray-100 border-gray-100">
          <div class="text-gray-600">
            {{ product.variations }}
          </div>
        </div>
      {% endif %}

      <div class="product-price flex mb-6">
        <div class="text-xl">
          {{ product.variation_price }}
        </div>
      </div>

      {# Description #}
      {% if product.body %}
        <div class="product-description prose max-w-none mb-6 text-gray-600 leading-relaxed">
          {{ product.body }}
        </div>
      {% endif %}

      {# Attributes/Options #}
      {% if product.field_product_attributes %}
        <div class="product-attributes mb-6 space-y-4">
          {{ product.field_product_attributes }}
        </div>
      {% endif %}

    </div>
  </div>

  {% if product.field_paragraphs %}
    <div>
      {{ product.field_paragraphs }}
    </div>
  {% endif %}
</article>
