{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="min-h-screen flex flex-col">

  {# header #}
  {% include '@nothing/layout/header.html.twig' %}
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {# Highlighted messages #}
  {% if page.highlighted %}
    <div class="bg-white">
      <div class="container mx-auto px-6 pt-6">
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}

  {# Main Content #}
  <main role="main" class="flex-grow">
    <a id="main-content" tabindex="-1"></a>

    <div class="container mx-auto px-6 py-8">
      <div class="grid grid-cols-1 gap-8">

        <div class="content-area">
          {{ page.page_top }}
          {{ page.content }}
          {{ page.page_bottom }}
        </div>
      </div>
    </div>

  </main>

  {# Footer #}
  {% include '@nothing/layout/footer.html.twig' %}
</div>
